Source: tileos-meta
Section: metapackages
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage:

Package: tileos-base
Architecture: amd64 arm64
Depends:
 adduser,
 apt,
 apt-utils,
 base-files,
 bind9-dnsutils,
 console-setup,
 cpio,
 cron,
 debconf,
 debconf-i18n,
 debian-keyring,
 dmidecode,
 dosfstools,
 e2fsprogs,
 eject,
 ed,
 file,
 ftp,
 hdparm,
 init,
 iproute2,
 iputils-ping,
 isc-dhcp-client,
 less,
 locales,
 lsb-release,
 libpam-systemd,
 logrotate,
 lshw,
 lsof,
 kbd,
 kmod,
 mawk,
 man-db,
 media-types,
 mount,
 netbase,
 netcat-openbsd,
 nftables,
 passwd,
 procps,
 python3,
 parted,
 pciutils,
 psmisc,
 rsync,
 sensible-utils,
 strace,
 sudo,
 time,
 tzdata,
 udev,
 usbutils,
 vim-tiny,
 wget,
 whiptail,
 xz-utils
Recommends:
 apparmor,
 bash-completion,
 command-not-found,
 nano,
 manpages,
 ntfs-3g,
 openssh-client,
 plymouth,
 tcpdump,
 rsyslog,
 uuid-runtime,
 usrmerge
Description: Base files for TileOS

Package: tileos-desktop-common
Architecture: amd64 arm64
Depends:
 alsa-utils,
 anacron,
 bc,
 dex,
 ffmpeg,
 fonts-dejavu-core,
 fonts-font-awesome,
 fonts-font-awesome-6,
 fonts-freefont-ttf,
 foomatic-db-compressed-ppds,
 fonts-hack,
 ghostscript-x,
 gvfs-fuse,
 gvfs-backends,
 gron,
 gstreamer1.0-alsa,
 gstreamer1.0-pipewire,
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-base-apps,
 gstreamer1.0-plugins-good,
 inotify-tools,
 inputattach,
 libglib2.0-bin,
 libsasl2-modules,
 libu2f-udev,
 light,
 mate-polkit-bin,
 mobile-broadband-provider-info,
 modemmanager,
 network-manager,
 network-manager-gnome,
 openprinting-ppds,
 pipewire-audio,
 pkexec,
 playerctl,
 poweralertd,
 pulsemixer,
 python3-requests,
 rfkill,
 spice-vdagent,
 tileos-base (= ${binary:Version}),
 tileos-system-adjustments,
 unzip,
 usb-modeswitch,
 wpasupplicant,
 wvdial,
 xdg-user-dirs,
 xkb-data,
 xsettingsd,
 zip
Recommends:
 apt-xapian-index,
 avahi-autoipd,
 avahi-daemon,
 bluetuith,
 bluez,
 bluez-cups,
 btop,
 cups,
 cups-bsd,
 cups-client,
 cups-filters,
 curl,
 fonts-noto,
 fonts-noto-cjk,
 fonts-noto-color-emoji,
 go-mtpfs,
 laptop-detect,
 libfuse2,
 libnss-mdns,
 mesa-utils,
 neofetch,
 greetd,
 greetd-tuigreet,
 plocate,
 printer-driver-gutenprint,
 printer-driver-pnm2ppa,
 printer-driver-brlaser,
 printer-driver-c2esp,
 printer-driver-foo2zjs,
 printer-driver-m2300w,
 printer-driver-min12xxw,
 printer-driver-ptouch,
 printer-driver-pxljr,
 printer-driver-sag-gdi,
 printer-driver-splix,
 systemd-timesyncd,
 thermald,
 tlp,
 udisks2,
 upower,
 xdg-utils
Description: Common desktop components for TileOS

Package: tileos-drivers
Section: contrib
Architecture: any
Depends:
 bluez-firmware,
 firmware-amd-graphics,
 firmware-atheros,
 firmware-intel-sound,
 firmware-iwlwifi,
 firmware-linux,
 firmware-realtek,
 openrazer-meta
Recommends:
 fwupd,
 fwupd-signed,
 gnome-firmware
Description: non-free drivers and firmware for TileOS

Package: tileos-desktop-sway
Architecture: amd64 arm64
Depends:
 alacritty,
 autotiling,
 azote,
 calcurse,
 cliphist,
 dunst,
 grimshot,
 kanshi,
 nwg-bar,
 nwg-displays,
 nwg-drawer,
 nwg-look,
 nwg-wrapper,
 qtwayland5,
 qt6-wayland,
 rofi-wayland,
 slurp,
 swappy,
 sway,
 swaybg,
 swayidle,
 swaylock,
 swayr,
 sway-systemd,
 sway-input-config,
 plymouth-theme-tileos,
 tileos-desktop-common (= ${binary:Version}),
 tileos-grub-theme,
 tileos-settings-sway,
 tileos-theme-catppuccin,
 tileos-wallpapers,
 waybar,
 wf-recorder,
 wl-clipboard,
 wlsunset,
 xdg-desktop-portal-wlr,
 xwayland
Recommends:
 engrampa,
 firefox-esr,
 imv,
 pavucontrol,
 pcmanfm-qt,
 pluma,
 ranger,
 systemd-oomd,
 wlr-randr
Description: Sway desktop for TileOS

Package: tileos-desktop-river
Architecture: amd64 arm64
Depends:
 alacritty,
 azote,
 calcurse,
 cliphist,
 dunst,
 grimshot,
 kanshi,
 plymouth-theme-tileos,
 qtwayland5,
 qt6-wayland,
 river,
 rofi-wayland,
 slurp,
 swaybg,
 swappy,
 tileos-desktop-common (= ${binary:Version}),
 tileos-grub-theme,
 tileos-settings-river,
 tileos-theme-catppuccin,
 waybar,
 wf-recorder,
 wl-clipboard,
 wlsunset,
 xwayland
Recommends:
 earlyoom,
 engrampa,
 firefox-esr,
 imv,
 pavucontrol,
 pcmanfm-qt,
 pluma,
 ranger,
 wlr-randr
Conflicts: tileos-desktop-sway
Description: River desktop for TileOS (experimental)

Package: tileos-sway-live
Architecture: amd64 arm64
Depends:
 calamares-settings-tileos-sway,
 live-boot,
 live-config,
 live-config-systemd
Description: LiveCD components for TileOS (Sway variant)

Package: tileos-river-live
Architecture: amd64 arm64
Depends:
 calamares-settings-tileos-river,
 live-boot,
 live-config,
 live-config-systemd
Description: LiveCD components for TileOS (River variant)
