Source: tileos-meta
Section: metapackages
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: tileos-desktop-base
Architecture: amd64 arm64
Depends: ${misc:Depends},
         base-files,
         bind9-dnsutils,
         busybox-static,
         cpio,
         cron,
         dbus-broker,
         earlyoom,
         ed,
         ftp,
         hdparm,
         info,
         libpam-systemd,
         logrotate,
         lshw,
         man-db,
         media-types,
         nftables,
         parted,
         pciutils,
         psmisc,
         rsync,
         strace,
         time,
         usbutils,
         wget,
         xz-utils
Recommends: bash-completion,
            command-not-found,
            manpages,
            nano,
            openssh-client,
            plymouth,
            ufw
Description: Standard TileOS components
 This metapackage installs base TileOS components.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: tileos-desktop-common
Architecture: amd64, arm64
Depends: ${misc:Depends},
         alsa-utils,
         anacron,
         avahi-daemon,
         bc,
         ca-certificates,
         fonts-dejavu-core,
         fonts-font-awesome,
         fonts-font-awesome-6,
         fonts-freefont-ttf,
         fonts-hack,
         fonts-noto,
         foomatic-db-compressed-ppds,
         ghostscript-x,
         gstreamer1.0-alsa,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         gstreamer1.0-pipewire,
         gvfs-backends,
         gvfs-fuse,
         htop,
         inputattach,
         libglib2.0-bin,
         libsasl2-modules,
         libu2f-udev,
         light,
         lxpolkit-gtk3,
         mobile-broadband-provider-info,
         modemmanager,
         network-manager,
         openprinting-ppds,
         printer-driver-gutenprint,
         printer-driver-pnm2ppa,
         pipewire-audio,
         python-is-python3,
         python3-requests,
         rfkill,
         spice-vdagent,
         qt5ct,
         qt5-style-kvantum,
         qt6ct,
         unzip,
         usb-modeswitch,
         wireless-tools,
         wpasupplicant,
         wvdial,
         xkb-data,
         xsettingsd,
         zip
Recommends: bluez,
            bluez-cups,
            cups,
            cups-bsd,
            cups-client,
            cups-filters,
            drm-info,
            fonts-arphic-ukai,
            fonts-arphic-uming,
            fonts-indic,
            fonts-kacst-one,
            fonts-lao,
            fonts-liberation,
            fonts-liberation2,
            fonts-lklug-sinhala,
            fonts-noto-cjk,
            fonts-noto-color-emoji,
            fonts-opensymbol,
            fonts-sil-abyssinica,
            fonts-sil-padauk,
            fonts-thai-tlwg,
            fonts-tibetan-machine,
            fwupd,
            gamemode,
            hplip,
            inxi,
            laptop-detect,
            libnss-mdns,
            memtest86+,
            mesa-utils,
            neofetch,
            pavucontrol,
            pcmciautils,
            printer-driver-brlaser,
            printer-driver-c2esp,
            printer-driver-foo2zjs,
            printer-driver-m2300w,
            printer-driver-min12xxw,
            printer-driver-ptouch,
            printer-driver-pxljr,
            printer-driver-sag-gdi,
            printer-driver-splix,
            thermald,
            tlp,
            vulkan-tools
Description: common components for TileOS desktop

Package: tileos-desktop-sway
Architecture: amd64 arm64
Depends: ${misc:Depends},
         autotiling,
         azote,
         breeze-cursor-theme,
         cliphist,
         dex,
         grimshot,
         foot,
         kanshi,
         khal,
         mako-notifier,
         nwg-bar,
         nwg-displays,
         nwg-drawer,
         nwg-look,
         nwg-wrapper,
         playerctl,
         poweralertd,
         pulsemixer,
         qtwayland5,
         qt6-wayland,
         rofi-wayland,
         slurp,
         sway,
         swaybg,
         swayidle,
         swaylock,
         tileos-artwork-sway,
         tileos-desktop-common,
         tileos-sway-settings,
         waybar,
         wf-recorder,
         wl-clipboard,
         wob,
         xdg-desktop-portal-gtk,
         xdg-desktop-portal-wlr,
         xwayland,
Recommends: engrampa,
            firefox-esr,
            greetd,
            greetd-gtkgreet,
            imv,
            mpv,
            musikcube,
            neovim,
            qutebrowser,
            ranger,
            sway-input-config,
            wev,
            wlsunset,
            wlr-randr,
            zathura,
            zathura-cb,
            zathura-djvu,
            zathura-pdf-poppler
Description: Sway desktop for TileOS
 This metapackage installs Sway desktop in TileOS.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: tileos-live
Architecture: amd64 arm64
Depends: ${misc:Depends},
         btrfs-progs,
         calamares-settings-tileos,
         cifs-utils,
         discover,
         dmraid,
         expect,
         gparted,
         jfsutils,
         live-boot,
         live-config,
         live-config-systemd,
         lvm2,
         mokutil,
         reiserfsprogs,
         xfsprogs
Description: LiveCD components to install TileOS
